h1 {
    font-size: 16px;
    font-weight: bold;
    margin-top: 2em;
}

span {
    padding-left: 0;
}

.Details {
    display: inline-block;
    width: 90%;
    max-width: 400px;
    text-align: left;
}