.search {
    margin: 2%;
}

.searchField {
    width: 90%;
}

@media (min-width: 768px) {
    .searchField {
        width: 75%;
    }
}

@media (min-width: 992px) {
    .searchField {
        width: 50%;
    }
}

@media (min-width: 1200px) {
    .searchField {
        width: 25%;
    }
}