.Button {
  padding: 10px 52px;
  margin: 20px;
  border: none;
  border-radius: 2px;
  background-color: #fff952;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
}

.Button:hover {
  background-color: #f5f061;
}
