.Header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3vh;
}
.HeaderIcon {
  display: block;
  margin: auto;
  width: 5vh;
}
.HeaderBanner {
  margin-top: 5px;
  width: 20vh;
}

.HeaderTitle {
  text-transform: uppercase;
  margin-top: 25px;
  font-size: 16px;
  font-weight: 500;
}

.HeaderBack {
  position: fixed;
  left: 16px;
  font-size: 7vh;
  color: black;
  text-decoration: none;
  top: 0;
}

.HeaderBack:hover {
  text-decoration: none;
  color: #ffc42e;
}

@media only screen and (max-width: 600px) {
  .HeaderBack {
    position: absolute;
  }
}
