h1 {
  font-size: 16px;
  font-weight: bold;
  margin-top: 2em;
}

.ImagesWrapper img {
  width: 100%;
  border-radius: 4px;
}

.ImagesPaper {
  padding: 1%;
}

.ImagesWrapper {
  display: flex;
  justify-content: center;
  margin-top: 5%;
  margin-bottom: 5%;
}

.Alert {
  margin-top: 5%;
  margin-bottom: 5%;
}

.Details {
  display: inline-block;
  width: 90%;
  text-align: left;
}

@media (min-width: 768px) {
  .Details {
    width: 75%;
  }
}

@media (min-width: 992px) {
  .Details {
    width: 50%;
  }
}

@media (min-width: 1200px) {
  .Details {
    width: 25%;
  }
}
