.CloseIcon {
  background-color: black;
  color: white;
  position: absolute;
  right: 2px;
  outline: 2px solid white;
  top: 2px;
}

.Modal {
  padding: 2px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: right;
  background-color: #ffffff;
}
