.Cadastro form {
    display: inline-block;
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
}

.Cadastro form .FormGroup {
    text-align: left;
    color: #c3c3c3;
}

.Cadastro .Error {
    display: block;
    padding-bottom: 10px;
    color: red;
}
