* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* .App-link {
  color: #61dafb;
} */

ul {
  margin: 0;
}

ul li {
  list-style-type: none;
}

.btn.btn-raised.btn-primary {
  background-color: #000;
  width: 300px;
  height: 70px;
  color: white;
  font-size: 24px;
  font-weight: 300;
}
