* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  background-color: #ffffff;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

a,
a:hover {
  color: #000;
}

button,
a {
  cursor: pointer;
}

ul {
  margin: 0;
}

ul li {
  list-style-type: none;
}

.agencia-btn-group {
  margin-top: 60px;
}

.btn.btn-secondary.btn-raised {
  margin-top: 20px;
  background-color: #000;
  width: 230px;
  height: 50px;
  padding: 12px;
}

.btn.btn-secondary.btn-raised p {
  color: white;
  font-size: 16px;
  font-weight: 600;
}

.btn-label {
  width: 100%;
  height: 100%;
}

.menu {
  margin-top: 40px;
}

.menu > .icon {
  display: block;
  margin: auto;
  height: 62px;
}

.menu > .banner {
  display: block;
  margin: auto;
  width: 282px;
  margin-top: 17px;
}

.react-datepicker-wrapper,
.react-datepicker__input-container {
  width: 100%;
}

.MuiAlert-root {
  font-family: 'Montserrat', sans-serif !important;
  font-size: 14px !important;
}
