* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  background-color: #ffffff;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* .App-link {
  color: #61dafb;
} */

ul {
  margin: 0;
}

ul li {
  list-style-type: none;
}

.agencia-btn-group {
  margin-top: 60px;
}

.btn.btn-secondary.btn-raised {
  margin-top: 20px;
  background-color: #000;
  width: 300px;
  height: 70px;
}

/* .btn.btn-secondary.btn-raised:focus,
.btn.btn-secondary.btn-raised:focus-within,
.btn.btn-secondary.btn-raised:hover,
.btn.btn-secondary.btn-raised:active {
  background-color: #fff671 !important;
  color: black !important;
}

.btn.btn-secondary.btn-raised:focus .btn.btn-secondary.btn-raised:active {
  background-color: #fff671 !important;
  color: black !important;
} */

.btn.btn-secondary.btn-raised p {
  margin: 15px 0 0;
  color: white;
  font-size: 22px;
  font-weight: 300;
  line-height: 22px;
}

.btn-label {
  width: 100%;
  height: 100%;
}

.menu {
  margin-top: 40px;
}

.react-datepicker-wrapper, .react-datepicker__input-container {
  width: 100%;
}

